RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
RewriteCond %{HTTP_HOSE} ^104.236.231.40
RewriteRule (.*) http://www.david-mattia.com/$1 [R=301,L]

ErrorDocument 404 /404.html

<FilesMatch "\.(css|pdf|jpg|jpeg|png|gif|js)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>
